
	<!-- Mostramos esto por defecto en el ng-view de index.html -->
	<!-- Hay que usar <a href="..."></a> en lugar de <button></button> porque el onClick falla -->

		<div id="agora" class="container-fluid text-center"
		style="background-color: #337AB7; /* Green */ color: #ffffff;">

		<div class="container">
			<img src="images/img/agora_house.png" class="img-circle" alt="">
			<h3>{{'Main1'|translate}}</h3>
			<h1>{{'Main2'|translate}}</h1>
			<h3>{{'Main3'|translate}}</h3>
		</div>
	</div>

	<div id="resultados" class="container-fluid text-center resultados">





<!-- 		<img src="images/img/mapa.png" class="imagenPequena" alt=""/> -->



	</div>

	<div id="resultados" class="container-fluid text-center encuestas">

		<div class="container">
			<h3>{{'Main4'|translate}}</h3>
			<h3>{{'Main5'|translate}}</h3>
		</div>




<!-- 		<img src="images/img/mapa.png" class="imagenPequena" alt=""/> -->

	<br>
	<br>
	<a href="resultados/encuestas" class="button btn-lg btn-primary">{{'VerResultados'|translate}}</a>

	<a href="resultados/mapa" class="button btn-lg btn-primary">{{'VerMapa'|translate}}</a>
	</div>
