<script type="text/javascript">
   SocialShareKit.init({
      selector: '.ssk-group .ssk',
      url: 'https://github.com/AgoraUS-G1-1617/', // this is url of my home page
      text: 'Por unas encuestas más limpias, más seguras... más (añada adjetivo en plural)' // text to share
   });
</script>

<!-- Left & centered positioning-->
<div class="ssk-sticky ssk-left ssk-center ssk-lg ssk-group">
    <a href="" class="ssk ssk-facebook" ></a>
    <a href="" class="ssk ssk-twitter"></a>
    <a href="" class="ssk ssk-google-plus"></a>
    <a href="" class="ssk ssk-email"></a>
</div>
