<br>
<div class="container">
	<table class="table table-responsive table-striped">
		<thead>
			<tr>
				<th>{{'Nombre'|translate}}</th>

				<th>
					<!-- Vacio para que muestre solo el enlace -->
				</th>

				<th>
					<!-- Vacio para que muestre solo el enlace -->
				</th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="encuesta in encuestas">
				<td>{{encuesta.titulo}}</td>
				<td>{{'Cierra'|translate}}: {{encuesta.fecha_cierre}}</td>
				<td ng-if="(encuesta.fecha_cierre|date:'yyyy-MM-dd hh:mm:ss')<(date|date:'yyyy-MM-dd hh:mm:ss')"><a class="btn btn-success" href="resultados/encuestas/ver?encuesta={{encuesta.id_votacion}}">{{'Resultados'|translate}}</a></td>
			</tr>
		</tbody>
	</table>
</div>
